header {grid-area: header; }
.first { grid-area: first;}
.second { grid-area: second; }
.third { grid-area: third; }
.fourth { grid-area: fourth; }
.fifth { grid-area: fifth; }
.sixth { grid-area: sixth; }
.container {
  display: grid;

  grid-template-areas:
  "header header header "
  "first second third"
  "fourth fifth sixth";
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 0px 30px 0px;
  /*border: 6px solid aqua;*/
}
  /* .imgClick {
  width: 200px;
  height: 200px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
} */
.box {
  display: block;
  width: 200px;
  height: 150px;
  background-color: lightgreen;
}
.colom{
 background-image: url("https://images-na.ssl-images-amazon.com/images/I/31GI3xz4GTL._AC_.jpg");
 background-size: 140px;
 background-position: center;
 background-repeat: no-repeat ;
 background-color: lightgray;
}
.usa{
  background-image: url("https://qph.fs.quoracdn.net/main-qimg-16f26ce5558cb54592b9233042d5575d");
  background-size: 140px;
  background-position: center;
  background-repeat: no-repeat ;
  background-color: lightgray;
}
.uk{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1200px-Flag_of_the_United_Kingdom.svg.png");
  background-size: 140px;
  background-position: center;
  background-repeat: no-repeat ;
  background-color: lightgray;
}
.hond{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Flag_of_Honduras.svg/640px-Flag_of_Honduras.svg.png");
  background-size: 140px;
  background-position: center;
  background-repeat: no-repeat ;
  background-color: lightgray;
}
.china{
  background-image: url("https://cdn.britannica.com/90/7490-004-BAD4AA72/Flag-China.jpg");
  background-size: 140px;
  background-position: center;
  background-repeat: no-repeat ;
  background-color: lightgray;
}
.india{
  background-image: url("https://cdn.britannica.com/200x500/97/1597-050-008F30FA/Flag-India.jpg");
  background-size: 140px;
  background-position: center;
  background-repeat: no-repeat ;
  background-color: lightgray;
}
button{
  font-size: 20px;
  width: 200px;
  background-color: lightgray;
}

header { 
  text-align: center;
  background: lightgrey;
  background-size: cover;
  background-clip: padding-box;
  /* background-size: 50px; */
  color: darkblue; 
  text-shadow: 2px 2px #d1e3f4;
  font-size: 30px;
}

 
/* body{
  background: rgba(112, 149, 151, 0.5);
}


  .foot{
    font-size:16px ;
  } */

  a {
    font-size: 26px;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    }


footer {   
  text-align: left;
  font-size:16px ;
  margin: 5px;
  padding: 15px;
 }  

  @media (max-width: 600px) {
    header, aside, ul, article, footer {
      margin: 0
    }
    .container {
      grid-template-areas: 
      "header"
      "first "
      "second"
      "third"
      "fourth"
      "fifth"
      "sixth";
    }
  }

  /* input {
    border: 0;
    padding: 10px;
    font-size: 18px;
  }
  input[type="submit"] {
    background: blue;
    color: white;
  }
 input[type="email"] {
   background: lightgrey;
  } 
  hr { color: white;
  height:  4px } */
